extends ../layouts/layout

block vars
  - var isArabic = false
  - var langSwitchBase = 'about'

block head
  title About | Trufla

block pageHeaderData(pageData)
  - pageData.title = isArabic ? 'من نحن - ترافلا' : 'About Trufla'
  - pageData.breadcrumbs = isArabic ? [{ label: 'الرئيسية', url: homeUrl }, { label: 'من نحن', url: null }] : [{ label: 'Home', url: homeUrl }, { label: 'About', url: null }]

block content
  include ../data/about-apps-data
  include ../data/about-stats-data
  include ../data/team-data
  include ../partials/about-content
