extends ../layouts/layout

block vars
  - var isArabic = false
  - var langSwitchBase = 'blogs'

block head
  title Blogs | Trufla

block pageHeaderData(pageData)
  - pageData.title = blogsPageTitle
  - pageData.breadcrumbs = [{ label: blogsBreadcrumbHome, url: homeUrl }, { label: blogsBreadcrumbBlogs, url: null }]

block content
  include ../data/blogs-data
  include ../partials/blogs-content
