extends ../layouts/layout

block vars
  - var isArabic = false
  - var langSwitchBase = 'contact'

block head
  title Contact | Trufla

block pageHeaderData(pageData)
  - pageData.title = contactPageTitle
  - pageData.breadcrumbs = [{ label: contactBreadcrumbHome, url: homeUrl }, { label: contactBreadcrumbContact, url: null }]

block content
  include ../partials/contact-content
