extends ../layouts/layout

block vars
  - var isArabic = false
  - var langSwitchBase = 'index'
  - var isHomePage = true

block head
  title Trufla Task | Home

block content
  include ../partials/index-content
