extends ../layouts/layout

block vars
  - var isArabic = true
  - var langSwitchBase = 'index'
  - var isHomePage = true

block head
  title ترافلا | الرئيسية

block content
  include ../partials/index-content
