extends ../layouts/layout

block vars
  - var isArabic = true
  - var langSwitchBase = 'login'

block head
  title Trufla Task | تسجيل الدخول

block pageHeaderData(pageData)
  - pageData.title = isArabic ? 'تسجيل الدخول' : 'Sign in'
  - pageData.breadcrumbs = isArabic ? [{ label: 'الرئيسية', url: 'index.html' }, { label: 'تسجيل الدخول', url: null }] : [{ label: 'Home', url: 'index.html' }, { label: 'Sign in', url: null }]

block content
  include ../partials/login-content
