- var navLinks = [{ label: 'Payments', href: 'index.html' }, { label: 'Claims Assistance', href: 'index.html#team' }, { label: 'About', href: 'about.html' }, { label: 'Contact', href: 'contact.html' }]

- var otherLinks = [{ icon: 'fa fa-phone', number: '555-555-5555' }]

- var cards = 3
